{% extends 'main.html' %}

{% block content %}

<section class="about__page">
    <article class="about_page__acticle" >
        <h1>Добро пожаловать в семейное фермерское хозяйство <br> "Бахчисарайский персик" </h1>

        <ul>
            <li><i class='bx bx-chevrons-right'></i>У нас на 4-х гектарах растёт более 20-ти сортов сладких и сочных персиков.</li>
            <li><i class='bx bx-chevrons-right'></i>Будем вас радовать с июля по август самым вкусным персиком в Крыму.</li>
            <li><i class='bx bx-chevrons-right'></i>Наши персики растут в предгорной зоне Бахчисарайского района в селе Казанки. 
                Умываются летней росой и дождиком, греются на солнышке</li>
        </ul>
        
        <p class="highlighted">    
            Мы не используем капельный полив, поэтому содержание сахара в наших плодах персика выше. 
            Затяжные дожди «размывают» вкус плода, а жаркое солнце, напротив, делает их более сочными и сладкими. 
        </p>
        <ul>
            <li>В летний сезон выбор фруктов достаточно разнообразен, но не упусти возможность попробовать и оценить качество предлагаемого 
                нами экологически чистого продукта. Если вы добавите в свой рацион персик, то  организм однозначно скажет вам - спасибо! 
                Не только в теории, но и  в практике доказано, что  регулярное употребление персика способствует общему укреплению организма.</li>
            <li>Употребление персика предотвращает преждевременное старение организма, за счёт  антиоксидантов. 
                А еще: освобождает организм от шлаков и токсинов, нормализует уровень сахара в крови, способствует укреплению иммунитета.</li>
            <li>Содержание витамина Е, каротина питает вашу кожу изнутри. А для красоты снаружи делайте маски из мякоти персика.</li>
            <li>Содержание лютеина заботится о здоровье глаз, помогает сохранить остроту зрения.</li>
            <li>Ну и напоследок, аромат спелой мякоти действует как антидепрессант, именно поэтому он так часто используется в ароматерапиии.</li>
        </ul>

    </article>

</section>

{% endblock content %}