{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section class="delivery__page">
    <article class="delivery_page__article">     
            <h1>Закажите самый сочный и вкусный персик!</h1>
                <h2>Внимательно ознакомьтесь с условиями доставки</h2>
                <p>
                    Ув. друзья, в этом сезоне мы решили пересмотреть политику доставки самых вкусных персиков в Бахчисарайской долине. 
                    Доставка по прежнему доступна, но, убедительно, просим Вас обратить особое внимание, на то что:
                    
                    <ul>
                        <li>доставка персиков осуществляется в три выделенных района Крыма (Севастополь, 
                            Симферополь и Симферопольский район, а также ЮБК (Алушта и Ялта))</li>
                        <li>при заполнении формы заказа обратите внмание на поле количество ящиков. При выборе определенного региона 
                            доставки Вам будет предложено начальное (минимальное) количество ящиков для доставки в выбранный Вами регион. 
                            Меньшее количество будет недоступно.</li>
                        <li>просим с уважением и пониманием отнестись к нашему решению.</li>
                    </ul>
                </p>

                <div class="form">
                      <div class="form__title">
                         Форма заказа
                      </div>

                      <div class="form-body">
                        {% crispy form %}     

                        <span class="order__warning">
                            Ув. клиенты, если у Вас есть родственник, друзья и просто знакомые, которые любят свежие, ароматные, фантастически вкусные персики, - 
                        то мы можем произвести доставку разных заказов на один адрес. Достаточно выбрать регион, общее количество ящиков, а также отметить галочкой поле
                        Комбинированный заказ (так мы будем понимать, что заказ делится между несколькими группами)
                        </span>
                      </div>
                         
                </div>
                    
              </article>
</section>

{% endblock content %}