{% extends 'main.html' %}
{% load crispy_forms_tags %}

{% block content %}

<section class="peach_adoption__page">
    <div class="peach_adoption_page__title">
        <h1>Программа "Усынови дерево"</h1>
        
        <p>
            Самые спелые и сладкие, персики можно попробовать только в тех местах, где они растут, потому что в северные края 
            их отправляют слегка недозрелыми, кондицию плоды набирают уже в дороге – в ящиках, бережно переложенные мягким материалом, 
            чтобы неженки не помялись в дороге.

            Наши персики растут на миндальном подвое и не нуждается в поливе, поэтому содержание 
            сахара в наших плодах персика выше. Затяжные дожди «размывают» вкус плода, а жаркое солнце, напротив, 
            делает их более сочными и сладкими.

            Персики — продукт исключительно нежный, их нужно бережно складывать, подгоняя по размеру и форме, как пазл. 
        </p>
        <p>
            Для тех кто любит персики и хочет на себе испытать не только вкус и аромат персиковых плодов;
            для тех, кто готов ждать целый сезон свой собственый урожай со своего собственного дерева, - 
            мы запускаем уникальную программу, которая придётся по душе фанатам персиков.
        </p>
        <p>
            <span class="red__warning">Внимание : пожалуйста, внимательно ознакомьтесь с правилами программы "Усынови дерево", прежде чем перейти к заполнению заявки на усыновление.</span>
        </p>
    </div>

    <div class="peach_adoption_page__item item">
        <div class="item__button">
            О программе
        </div>
        <div class="item__content">
            <div class="item__body">
                <ul>
                    <li>
                        Если вы любите персики и готовы ждать свой собственный урожай – посвятите себя тому, чтобы <span class="highlighted">усыновить свой персик</span>!
                        В идеальный год с каждого дерева можно собрать до 20 кг персиков или нектаринов.
                    </li>
                    <li>
                        Точное количество килограммов варьируется в зависимости от погоды и других неконтролируемых сил природы.
                    </li>
                    <li>
                        Ознакомьтесь с тремя нашими сортами персиков. Эти сорта мы выделяем как самые популярные, имеющие неповторимый вкус, аромат 
                        и невероятный внешний вид! Вы спросите, как вы можете насладиться вкусом любого из этих сортов? 
                        Ответ очень прост: <span class="highlighted">Усыновив дерево</span>!
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="peach_adoption_page__item item">
        <div class="item__button">
            Условия программы
        </div>
        <div class="item__content">
            <div class="item__body">
                <ul>
                    <li>
                        Вы выбираете состав команды, которая будет помогать Вам собирать урожай - <span class="highlighted">самостоятельно</span>. 
                    </li>
                    <li>
                        Плоды доступных для программы «Усынови дерево» сортов персика созревают, примерно, в <span class="highlighted">середине июля и/или середине-конце августа</span>. 
                        Поэтому, Вам и вашей команде нужно будет освободить несколько суббот и воскресений в середине июля и середине-конце августа 
                        (обе субботы и воскресенье являются потенциальными датами сбора урожая). 
                    </li>
                    <li>
                        Сбор урожая будет проходить в течение нескольких выходных, так что ваша команда каждый раз может состоять 
                        из одних и тех же или разных людей в каждую дату сбора урожая. Оказавшись дома, Вы, конечно, 
                        сможете поделиться фруктами со столькими людьми, сколько захотите!
                    </li>
                    <li>
                        В 2023 году команды могут подать заявку на усыновление трёх сортов персиков: <span class="highlighted">Рэд Хейвен, Коллинз и Освежающий</span> . 
                        Приносим извинения за то, что не можем предложить больше сортов, но мы тщательно прорабатываем варианты по расширению 
                        ассортимента для усыновления в будущем.
                    </li>
                    <li>
                        Примерно за месяц до начала сбора урожая мы сделаем звонок и уведомим все команды о датах сбора урожая. 
                        Мы не можем сразу назвать точные даты заранее и сможем уведомить Вас только за несколько недель.
                    </li>
                    <li>
                        Сбор урожая начинается утром <span class="highlighted">(около 10:00)</span>  и завершится вечером <span class="highlighted">(около 16:00)</span> . 
                        Вы и ваша команда будете самостоятельно нести ответственность за весь сбор урожая и упаковку фруктов. 
                        Мы проведем ознакомительный мастер-класс, чтобы научить Вас и вашу команду правильно собирать и упаковывать урожай.
                    </li>
                    <li>
                        Кстати, вы всегда можете разделить дни сбора урожая с другими членами вашей команды 
                        – кто-то пойдет на первую дату сбора, а кто-то на вторую (или третью). Но, пожалуйста, если в вашей команде будут дети,
                        - не бросайте своих малышей! Они всегда должны быть под присмотром взрослых.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="peach_adoption_page__item item">
        <div class="item__button">
            Как это работает?
        </div>
        <div class="item__content">
            <div class="item__body">
                <ul>
                    <li>
                       <span class="weight__warning">Шаг 1:</span>  Заполните и отправьте заявление об усыновлении в установленный срок. 
                        Информация, необходимая для подачи заявки: название команды, руководитель группы, контактная информация (телефон, email), 
                        члены команды по сбору урожая и электронные письма (каждая команда может привести <span class="highlighted">минимум 2</span>  и <span class="highlighted">максимум 6</span>  человек в день сбора урожая). 
                    </li>
                    <li>
                        <span class="weight__warning">Шаг 2:</span> Все заявки на усыновление рассматриваются <span class="highlighted">лично</span>  семейным хозяйством Бахчисарайский персик; 
                        однако мы можем принять только ограниченное количество заявок. Нам нравится, что с каждым годом интерес к нашей программе растет, 
                        и мы активно работаем над тем, чтобы расширить перечень сортов, попадающих под программу «Усынови персик» 
                        (пожалуйста, присоединяйтесь к нашему списку рассылки по электронной почте, если вам не терпится попробовать другие сорта).
                    </li>
                    <li>
                        <span class="weight__warning">Шаг 3:</span> В случае принятия заявки и подбора дерева (или деревьев) руководитель вашей группы будет уведомлен, 
                        примерно, в марте и получит подробную информацию об оплате и логистике усыновления. 
                        Плата за усыновление составляет <span class="highlighted">780 долларов за дерево или 1400 долларов</span> , если вы усыновите оба 
                        (в обычный год, если одно дерево приносит в среднем 20 кг плодов, это составит 125 руб. за 1 кг сертифицированных органических плодов, созревших на дереве). 
                        Плату за участие в программе нужно будет внести в марте/апреле, мы сообщим вам точный срок.
                    </li>
                    <li>
                        <span class="weight__warning">Шаг 4:</span> Оставайтесь на связи и будьте в курсе наших “Полевых заметок”. 
                        В них будет содержаться важная информация о сезоне и о том, когда вы приедете на ферму собирать урожай.
                    </li>
                    <li>
                        <span class="weight__warning">Шаг 5:</span> <span class="highlighted">Вы и ваша команда будете заниматься сбором самостоятельно </span> урожая и соберете все свои органические персики и / или нектарины 
                        (примерно 20 – 25 кг или больше с одного дерева – всё зависит от природы и погоды). Вы должны зарезервировать 
                        перечисленные выше выходные в июле и августе для сбора урожая. Когда плоды будут готовы к сбору, мы уведомим вас и вашу команду.
                    </li>
                    <li>
                       <span class="weight__warning">Шаг 6:</span> Ешь, готовь, консервируй, делись и наслаждайся.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="peach_adoption_page__item item">
        <div class="item__button">
            Подать заявку на усыновление
        </div>
        <div class="item__content">
            <div class="item__body">
                {% crispy form %}
            </div>
        </div>
    </div>
        
</section>

{% endblock content %}