{% extends 'main.html' %}


{% block content %}

<section class="pickup__page">
    <article class="pickup_page__article">     
            <h1>Приезжайте и покупайте только что собранные и бережно упакованные персики!</h1>
                <h2> Мы ждём Вас и всегда Вам рады!</h2>
                <p class="everyday">
                    Мы работаем ежденевно с 10:00 до 17:00
                </p>

                <p>
                    На нашем поле ежедневно открыта продажа самого сочного, сладкого и необычайно вкусного персика.
                    С середины июля по конец августа созревают наши солнечные плоды, которые вы можете купить, посетив 
                    наше семейное фермерское хозяйство "Бахчисарайский персик".
                </p>
                <p>
                    Для всех наших гостей открыты специальные фотозоны, где вы сможете сделать яркие и запоминающиеся фотографии,
                    причем совершенно бесплатно. Также мы предлагаем нашим гостям провести дегустацию вина. В этом сезоне также
                    пробуем вино из персика!                  
                </p>
                <p>
                    На территории сада организована парковка...
                </p>

    </article>
</section>

{% endblock content %}