{% extends 'main.html' %}

{% block content %}

<section class="self_collection__page">
    <article class="self_collection_page__article">
        <h1>Ничто так не говорит о “свежести”, как фрукты прямо из сада.</h1>
        <h2>Соберите свои собственные фрукты</h2>
        <ul>
            <li>Время посещения сада для самостоятельного сбора персика: <br>
               <span class="highlighted">пятница – воскресенье с 9:00 до 16:00</span></li>
            <li>Численность группы для такого посещения <span class="highlighted">до 6 человек.</span></li>
            <li>Крайнее время начала  сбора – <span class="highlighted">15:00</span>, т.к. закончить сбор необходимо <span class="highlighted">до 16:00</span>.</li>
        </ul>
    <ul>
        <li>
        <span class="weight__warning">Пожалуйста</span>, соблюдайте правила на благо всех клиентов и нашего сада.
        </li>
        <li>
            <span class="weight__warning">Пожалуйста</span>, собирайте только в специально отведенных местах, которые тщательно отбираются на основе графика созревания наших фруктов.</li>
        <li>
            <span class="weight__warning">Мы предоставляем ящики для сбора персиков</span>, и их необходимо оплатить до того, как вы войдете в сад.
        </li>
        <li>
            <span class="weight__warning">Носите соответствующую погоде одежду</span>, не забудьте головные уборы, солнцезащитный крем и бутылку воды!
        </li>
        <li>
            <span class="weight__warning">Мы рекомендуем носить обувь с закрытым носком</span>, подходящую для ходьбы по неровной земле.
        </li>
        <li>
            <span class="weight__warning">Если вы уроните какой-либо фрукт на землю</span>, мы просим вас приложить все усилия, чтобы поднять его и приобрести, чтобы ни один фрукт не пропал даром. 
            Много трудоемких часов и лет уходит на уход за нашими фруктовыми деревьями.
        </li>
        <li>
            <span class="weight__warning">Дети должны быть в сопровождении взрослых</span> и постоянно находиться под присмотром.
        </li>
        <li>
            <span class="weight__warning">Пожалуйста</span>, утилизируйте мусор в соответствующие контейнеры.
        </li>
        <li>
            <span class="weight__warning">Пожалуйста</span>, будьте внимательны и вежливы ко всем нашим клиентам и друг к другу.
        </li>
        <li>
            <span class="weight__warning">Пожалуйста</span>, не въезжайте на автомобиле в сад, поскольку это хрупкая среда для выращивания. 
            Двигайтесь на автомобиле вдоль сада по указателям.
        </li>
        <li>
            <span class="weight__warning">На поле допускаются собаки</span>, если они на поводке и не агрессивны.
        </li>
        <li>
            <span class="weight__warning">Курение на территории семейного хозяйства Бахчисарайский персик</span>
            <span class="weight__warning highlighted">СТРОГО ЗАПРЕЩЕНО!</span>
        </li>
    </ul>
    </article>
    
</section>

{% endblock content %}